<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!--
			<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>info</level> </filter>
		-->
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<!-- %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n -->

	<!-- 各个logger实例记录日志level -->
	<logger name="org.hibernate.SQL" level="info" />
	<logger name="org.springframework.security" level="DEBUG"/>
	
	<!-- 根logger -->
	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
